:root {
	--primary-color: #ffffff;
	--secondary-color: #0000ff;
	--tertiary-color: #ffff00; 
	--accent-color: #6727FB; 
	--attribution-text: 'futura', sans-serif;
}

/*font-family: var(--attribution-text);*/

@font-face {
  font-family: "futura";
  src: url("/fonts/futura.ttf") format("ttf"),
}

html, body {
	height: 100%;
	width: 100%;
	margin: 0;
}

::-webkit-scrollbar { 
    display: none; 
}

.container.container__topTen {
	border: solid 2px var(--secondary-color);
	width: 90%;
	height: 90%;
	overflow: scroll;
}

/*.border.border__topTen {
	border-right: 2px solid var(--secondary-color);
}*/

.center.center__dead {
	display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.h2.h2__top-ten {
	font-family: times, serif;
	text-align: center;	
	color: var(--secondary-color);
	font-size: 80px;
	margin-bottom: 0;
}

.section.section__topTen {

}

/*.h2.h2__top-ten:hover {
	color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: blue;
    cursor: not-allowed;
}*/

#h2__largeText {
	font-size: 80px;
	text-align: center;
}

.img.img__top-ten {
	filter: grayscale(1);
    mix-blend-mode: screen;
    height: 40em;
    border: white 2px solid;
    transition: ease-in .5s;
    opacity: 0;
}


/*img:hover {
	filter: grayscale(0);
	mix-blend-mode: unset;
}*/

.img-container {
    /*background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vh;
    position: fixed;*/
    height: 90%;
    width: 44%; 
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.text.text__paragraph--container {
	border: 2px solid var(--secondary-color);
	margin: 3em;
	/*display: none;*/
	background: rgba(255, 255, 255, 0.7);
	/*position: relative;
	z-index: 2;*/
	margin-top: 1.5em;
	line-height: 1.5;
}

.h3.h3__attr {
	text-align: center;
	font-family: var(--attribution-text);
	font-weight: 500;
}

p {
	font-family: 'Anonymous Pro', monospace;
	margin-left: 20px;
	margin-right: 20px;
}

.h3.h3__top-ten {
	font-family: var(--attribution-text);
	text-align: center;
	color: var(--secondary-color);
}

#los-angeles {
	/*display: none;*/
	height: 0;
	margin-bottom: 0;
	opacity: 0;
}

#bagel-broker-text {
	height: 0;
	opacity: 0;
}

#cleveland-ohio {
	height: 0;
	margin-bottom: 0;
	opacity: 0;
}

#bialy-text {
	height: 0;
	opacity: 0;
}

#top-ten-text {
	/*height: 40em;*/
}


.span.span__number {
	color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: blue;
}

#span-two {
	color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: blue;
}

.h4.h4__title, .h5.h5__breadcrumbs {
	display: flex;
    justify-content: flex-end;
    font-family: var(--attribution-text);
}

.h5.h5__breadcrumbs {
	margin-top: 3em;
	font-weight: 100;
}

.grid.grid__desert {
	padding-top: 40px;
    padding-bottom: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 60px;
    padding: 10px;
    margin-left: 6em;
    margin-right: 6em;
    margin-top: 6em;
    margin-bottom: 6em;
}

.desert-child {
	display: flex;
    align-items: center;
    justify-content: center;
    border: black solid 2px;
    padding: 1rem;
    min-height: 300px;
    background: white;
    box-shadow: 5px 5px blue;
    border: 3px solid blue;
}

.desert-child:hover {
	box-shadow: 5px 5px white;
	transform: translate(5px);
	cursor: pointer;
}


/*.whatever {
	    margin: 0 auto;
    max-width: 120rem;
}
*/

/*.background.background__deserts {
	background-color: var(--secondary-color);
}*/

.section.section__deserts {
	border: solid blue 2px;
	margin: 2em;
	/*background: var(--secondary-color);*/
}

.h1.h1__deserts {
	text-align: center;
	color: blue;
	font-size: 80px;
	font-family: times, serif;
}

.h2.h2__deserts {
	text-align: center;
	color: var(--secondary-color);

}
.h4.h4__deserts {
	margin-right: 10em;
    margin-left: 10em;
    font-family: 'Anonymous Pro', monospace;
    margin-top: 3em;
    text-align: center;
    line-height: 1.5;
    font-weight: 100;
}

.p.p__paragraph-desert {
	text-align: center;
	color: blue;
	font-size: 1.3em;
	font-family: times, serif;
}

#desert-attr {
	margin-top: 3em;
}

#breadcrumbs-desert {
	margin-right: 6em;
}

#title-desert {
	margin-right: 5em;
}


.ul.ul__ingredients {
	list-style-type:square;
	color: blue;
	/*padding-left: 0;*/
	font-family: 'Anonymous Pro', monospace;
	 padding-left: 13px;
}

.ul.ul__preperation {
	list-style-type: square;
    color: blue;
    /* padding-left: 0; */
    font-family: 'Anonymous Pro', monospace;
        padding-left: 13px;
}

.li.li__directions--modal {
	margin-top: 10px;
	line-height: 1.5;
	margin-right: 4em;
}



.li.li__recipie--modal {
	margin-top: 10px;
}



.h5.h5__recipie--modal {
	font-size: 30px;
    /* margin: 0; */
    color: blue;
    padding-left: 0;
    margin-bottom: 5px;
    margin-top: 85px;
}
/*.ul.ul__preperation {
	
}*/

.section__ingredients {
	grid-column: 2 /3;
	grid-row: 1 / 2;
}

.section__preperation {
	grid-column: 2 /3;
	grid-row: 2 / 3;
}

.section__directions {
	grid-column: 2 / 3;
    grid-row: 3 / 4;
}

/*.section__image {
	grid-row: 1/ 2;
    grid-column: 1 / 2;

}*/

.section__title {
	grid-row: 1 / 2;
	grid-column: 1 / 2;
}

.section__body {
	grid-column: 1 / 2;
	grid-row: 3 / 3;
}

img {
	
width: 70%;
height: auto;
/*margin-top: 5em;*/
}

.p.p__honey {
	color: blue;
	margin: 3em;
	line-height: 1.5;
	margin-left: 5em;
}

.h3.h3__honey {
	    color: white;
    -webkit-text-stroke: 1px blue;
    font-size: 5em;
    margin-left: 1em;
}

.span.span__honey {
	color: blue;
}


.modal {
  display: none;
}

.modal-show,
.modal-hide {
  display: flex;
}

.modal-align {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 999;
}

.modal-container {
	position: relative;
  	width: 70%;
  	background: white;
  	overflow-y: scroll;
  	margin: 15px;
  	display: grid;
  	/*grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr;*/
  
}

.content {
  padding-left: 25px;
}

/*.modal-footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  position: absolute;
  background: lightgray;
  height: 45px;
  width: 100%;
  bottom: 0;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}
*/
.modalCloseBtn {
  margin: auto 15px;
}

.modalCloseX {
  position: absolute;
  top: 6px;
  right: 15px;
}

.modalCloseX:hover {
  cursor: pointer;
}

/* Animation */
.modal.modal-show {
  animation: modal-open 0.3s;
}

@keyframes modal-open {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.modal.modal-hide {
  animation: modal-close 0.3s;
}

@keyframes modal-close {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}




    
    


