:root {
	--primary-color: #ffffff;
	--secondary-color: #0000ff;
	--tertiary-color: #ffff00; 
	--accent-color: #6727FB; 
	--attribution-text: 'futura', sans-serif;
}

/*font-family: var(--attribution-text);*/

@font-face {
  font-family: "futura";
  src: url("/fonts/futura.ttf") format("ttf"),
}

html, body {
	height: 100%;
	width: 100%;
	margin: 0;
}

::-webkit-scrollbar { 
    display: none; 
}


.container.container__topTen {
	border: solid 2px var(--secondary-color);
	width: 90%;
	height: 90%;
	overflow: scroll;
}

/*.border.border__topTen {
	border-right: 2px solid var(--secondary-color);
}*/

.center.center__dead {
	display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.h2.h2__top-ten {
	font-family: times, serif;
	text-align: center;	
	color: var(--secondary-color);
	font-size: 80px;
	margin-bottom: 0;
}

.section.section__topTen {

}

/*.h2.h2__top-ten:hover {
	color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: blue;
    cursor: not-allowed;
}*/

#h2__largeText {
	font-size: 80px;
}

.img.img__top-ten {
	filter: grayscale(1);
    mix-blend-mode: screen;
    height: 40em;
    border: white 2px solid;
    transition: ease-in .5s;
    opacity: 0;
}

/*img:hover {
	filter: grayscale(0);
	mix-blend-mode: unset;
}*/

.img-container {
    /*background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vh;
    position: fixed;*/
    height: 90%;
    width: 44%; 
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.text.text__paragraph--container {
	border: 2px solid var(--secondary-color);
	margin: 3em;
	/*display: none;*/
	background: rgba(255, 255, 255, 0.7);
	/*position: relative;
	z-index: 2;*/
	margin-top: 1.5em;
	line-height: 1.5;
}

p {
	font-family: 'Anonymous Pro', monospace;
	margin-left: 20px;
	margin-right: 20px;
}

.h3.h3__top-ten {
	font-family: var(--attribution-text);
	text-align: center;
	color: var(--secondary-color);
}

#los-angeles {
	/*display: none;*/
	height: 0;
	margin-bottom: 0;
	opacity: 0;
}

#bagel-broker-text {
	height: 0;
	opacity: 0;
}



