/*          GLOBAL          */

body {
    margin: 0;
}

/*          CURSOR          */

html {
    cursor: url('../images/cursor-S.png'), auto;
    box-sizing: border-box;
}

a {
    cursor: url('../images/clicker-S.png'), auto;
}




/*          BANNER          */

.banner {
    width: 200vh;
    position: fixed;
    transform: rotate(-90deg);
    transform-origin: 0 0;
    left: 0px;
    top: 50%;
    z-index: 999;
}

.banner--wrapper {
    position: absolute;
    overflow: hidden;
    height: 5vw;
    color: white;
    background-color: blue;

    animation: ticker 12s linear infinite;
    animation-delay: 1s;
}

.banner--item {
    display: inline-block;
    margin: 0 10px;
    white-space: nowrap;
    width: auto;
}

@keyframes ticker {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(-100%, 0);
    }
}



/*          NAVBAR CSS START          */

.ul__navbar {
    height: 100%;
    width: 100%;
    margin: 0;
    overflow-x: hidden;
    position: absolute;
    top: 0;
    list-style-type: none;
    padding: 0;
}

.base {
    background: white;
    height: 100%;
    width: 100%;
    position: absolute;
}

.base__content {
    margin: 20% 40% 10% 10%;
}

#slide-one {
    border: blue 2px solid;
    background-color: white;
    height: 100%;
    width: 100%;
    position: absolute;
    overflow-x: hidden;
    left: calc(100% - 35%);
}

#slide-two {
    border: blue 2px solid;
    background-color: white;
    height: 100%;
    width: 100%;
    position: absolute;
    overflow-x: hidden;
    left: calc(100% - 30%);
}

#slide-three {
    border: blue 2px solid;
    background-color: white;
    height: 100%;
    width: 100%;
    position: absolute;
    overflow-x: hidden;
    left: calc(100% - 25%);
}

#slide-four {
    border: blue 2px solid;
    background-color: white;
    height: 100%;
    width: 100%;
    position: absolute;
    overflow-x: hidden;
    left: calc(100% - 20%);
}

#slide-five {
    border: blue 2px solid;
    background-color: white;
    height: 100%;
    width: 100%;
    position: absolute;
    overflow-x: hidden;
    left: calc(100% - 15%);
}

#slide-six {
    border: blue 2px solid;
    background-color: white;
    height: 100%;
    width: 100%;
    position: absolute;
    overflow-x: hidden;
    left: calc(100% - 10%);
}

#slide-seven {
    border: blue 2px solid;
    background-color: white;
    height: 100%;
    width: 100%;
    position: absolute;
    overflow-x: hidden;
    left: calc(100% - 5%);
}

#slide-one:hover {
    margin-left: -10px;
}

#slide-two:hover {
    margin-left: -10px;
}

#slide-three:hover {
    margin-left: -10px;
}

#slide-four:hover {
    margin-left: -10px;
}

#slide-five:hover {
    margin-left: -10px;
}

#slide-six:hover {
    margin-left: -10px;
}

#slide-seven:hover {
    margin-left: -10px;
}

.h1__nav {
    display: inline-block;
    font-size: 32px;
    color: blue;
    transform: translateY(200%) translateX(-8px) rotate(-90deg);
    position: fixed;
}

/*NAVBAR CSS END*/




/*          IMAGES          */


img {
    opacity: 1;
    filter: grayscale(1);
    /*    mix-blend-mode: screen;*/
}

img:hover {
    filter: grayscale(0);
    mix-blend-mode: unset;
}

.img--container {
    background: blue center center no-repeat cover;
}




/*          LOGO          */


.mark {
    position: sticky;
    left: 2%;
    bottom: -200%;
    width: 300px;
    height: 300px;
    pointer-events: none;
}

.mark.mark__logo {
    position: absolute;
    background: url(../images/logo.png);
    width: 100%;
    height: 100%;
}

.mark.mark__tagline {
    position: absolute;
    background: url(../images/tagline.png);
    animation-name: rotate;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    width: 100%;
    height: 100%;
}

@keyframes rotate {
    from {
        transform: rotate(-360deg);
    }

    to {
        transform: rotate(0);
    }
}




/*          CONTENT          */


.content {
    margin: 5% 40% 5% 5%;
}

.content img {
    width: 100%;
    height: auto;
}

.content__seven {
    display: grid;
    max-width: 55%;
    /*    outline: thin grey solid;*/
    height: 3200px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(20, 1fr);
    grid-gap: 12px;
}

.content__seven .h1__title {
    margin: 0;
    grid-column: 5 / 13;
    grid-row: 1 / 2;
}

.content__seven .img--hero {
    grid-column: 1 / 5;
    grid-row: 1 / 5;
}

.content__seven .h3__subtitle {
    grid-column: 4 / 11;
    grid-row: 2 / 3;
}

.content__seven .interviewgroup--one {
    grid-column: 3 / 11;
    grid-row: 3 / 9;
}

.content__seven .interviewgroup--two {
    grid-column: 3 / 11;
    grid-row: 9 / 20;
}

.content__seven .img--interview {
    width: 300px;
}

.content__seven.interviewgroup--two .interview__a {
    grid-column: 5/11;
}

h1 {}

h1.h1__title {
    font-size: 80px;
}

h3 {}

h4 {}

h4__itemtitle {}

p {}

p.interview__q {
    font-size: 1.2em;
    font-style: italic;
}

p.interview__a {
    margin: 0 0 2% 5%;
}

p.interview__a--title {
    font-size: 1.3em;
}

.outline {
    color: white;
    text-shadow: 1px 1px 3px blue;
}




/*          MOBILE          */


@media only screen and (max-width: 640px) {
    .banner {
        width: 200vh;
        height: 5%;
        position: fixed;
        transform: rotate(0deg);
        transform-origin: 0 0;
        top: 0%;
        left: 0;
    }
    
    .banner--wrapper {
        height: 5vh;
    }


    .ul__navbar {
        height: 100%;
        width: 100%;
        margin: 0;
        overflow-x: hidden;
        position: absolute;
        top: 0;
        list-style-type: none;
        padding: 0;
    }

    .base {
        background: white;
        height: 100%;
        width: 100%;
        position: absolute;
    }

    .base__content {
        margin: 10% 10% 40% 10%;
    }

    h1.h1__title {
        font-size: 40px;
        margin-top: 15%;
    }

    #slide-one {
        border: blue 2px solid;
        background-color: white;
        height: 100%;
        width: 100%;
        position: absolute;
        overflow-x: hidden;
        top: calc(100% - 35%);
        left: 0;
    }

    #slide-two {
        border: blue 2px solid;
        background-color: white;
        height: 100%;
        width: 100%;
        position: absolute;
        overflow-x: hidden;
        top: calc(100% - 30%);
        left: 0;
    }

    #slide-three {
        border: blue 2px solid;
        background-color: white;
        height: 100%;
        width: 100%;
        position: absolute;
        overflow-x: hidden;
        top: calc(100% - 25%);
        left: 0;
    }

    #slide-four {
        border: blue 2px solid;
        background-color: white;
        height: 100%;
        width: 100%;
        position: absolute;
        overflow-x: hidden;
        top: calc(100% - 20%);
        left: 0;
    }

    #slide-five {
        border: blue 2px solid;
        background-color: white;
        height: 100%;
        width: 100%;
        position: absolute;
        overflow-x: hidden;
        top: calc(100% - 15%);
        left: 0;
    }

    #slide-six {
        border: blue 2px solid;
        background-color: white;
        height: 100%;
        width: 100%;
        position: absolute;
        overflow-x: hidden;
        top: calc(100% - 10%);
        left: 0;
    }

    #slide-seven {
        border: blue 2px solid;
        background-color: white;
        height: 100%;
        width: 100%;
        position: absolute;
        overflow-x: hidden;
        top: calc(100% - 5%);
        left: 0;
    }

    #slide-one:hover {
        margin-bottom: -10px;
        margin-left: 0;
    }

    #slide-two:hover {
        margin-bottom: -10px;
        margin-left: 0;
    }

    #slide-three:hover {
        margin-bottom: -10px;
        margin-left: 0;
    }

    #slide-four:hover {
        margin-bottom: -10px;
        margin-left: 0;
    }

    #slide-five:hover {
        margin-bottom: -10px;
        margin-left: 0;
    }

    #slide-six:hover {
        margin-bottom: -10px;
        margin-left: 0;
    }

    #slide-seven:hover {
        margin-bottom: -10px;
        margin-left: 0;
    }

    .h1__nav {
        display: inline-block;
        font-size: 26px;
        color: blue;
        transform: translateY(-5%) translateX(0px) rotate(0deg);
        position: fixed;
    }



}
